<footer class="site-footer">
    <div class="wrapper">
      <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="social-media-list">
            <li>
              {% if site.author %}
              {{ site.author | escape }}
              {% else %}
              {{ site.title | escape }}
              {% endif %}
            </li>
            <li>
              {% if site.github_username %}
              {% include icon-github.html username=site.github_username %}
              {% endif %}
  
              {% if site.email %}
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              {% else if site.email_captcha %}
              {% include icon-email.html email_captcha=site.email_captcha %}
              {% endif %}
  
              {% if site.linkedin %}
              {% include icon-linkedin.html linkedin=site.linkedin %}
              {% endif %}
  
              {% if site.twitter_username %}
              {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}

              {% include icon-rss.html %}
            </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-1 footer-description">
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  
  </footer>