i.icono-tag {
    transform: scaleX(-1) rotate(45deg);
}

.post-label {
    border: 1px solid $grey-color-dark;
    border-radius: 5px;
    padding: 2px;
    padding-right: 4px;
    background: $grey-color-light;
}

a.post-label {
    font-size: $small-font-size;
    color: $text-color;
}

.label-expo hr {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.label-expo-list {
    margin: $spacing-unit;
}

.label-expo-section .post-list {
    margin-left: $spacing-unit;
}