body {
    flex-direction: row;
    height: 100vh;
}

.skel-header {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 6px solid $grey-color-dark;
    min-height: $spacing-unit * 1.865;
}

.skel-header__control {
    flex: 0;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skel-header__control div {
    min-height: 30px;
    min-width: 30px;;
}

.skel-header__cover {
    background-color: black;
    background-image: $background-url;
    //background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 1rem;
    flex: 2
}

.skel-header__contact {
    flex: 1;
    background-color: red;
    padding: 1.5rem;
    text-align: justify;
}

.skel-header-nav {
    float: right;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
    
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
          margin-right: 20px;
        }
    }
}

.page-content {
    overflow: auto;
}

.site-footer {
    text-align: center;
}


@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        height: unset;
    }

    .skel-header {
        height: auto;
        width: 100%;
        flex-direction: row;
    }

    .skel-header__control {
        justify-content: center;
    }

    .page-content {
        overflow: unset;
    }
}

.footer-col-1 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(55% - (#{$spacing-unit} / 2));
    width:         calc(55% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: unset;
    width: unset;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: unset;
      width: unset;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    column-gap: 2rem;

    .post-meta-container {
        text-align: right;
        // flex: 1;
    }

    .post-title {
        text-align: justify;
    }

    h1, h2, h3 {
        margin-bottom: unset;    
    }
}

.post-list .post-header {
    margin-bottom: 10px;
}