---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- include post-header.html post=post -%}
        {%- if site.show_excerpts -%}
          {% capture ellipsis %}&nbsp;<a class="" href="{{ post.url | relative_url }}">[...]</a>{% endcapture %}
          {{ post.excerpt | truncatewords: 100, ellipsis }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
